NAMESPACE="SAM/"
SOLACE_BROKER_URL="ws://localhost:8008"
SOLACE_BROKER_VPN="default"
SOLACE_BROKER_USERNAME="default"
SOLACE_BROKER_PASSWORD="default"
SOLACE_DEV_MODE="false"
LITELLM_LOG="ERROR"
CLI_ENTRYPOINT_USER="cli_entrypoint_user"
CLI_ENTRYPOINT_ID="sam-cli-ep-01"
SAM_CLI_SESSIONS_DIR="~/.sam-cli-entrypoint"
LOGGING_CONFIG_PATH="logging.yaml"
